@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

html{
    font-family: "Raleway", sans-serif;
}

input[type=text]{
    border-top: #ffffff;
    border-right: #ffffff;
    border-left: #ffffff;
    border-bottom: 2px solid #b2b2b2;
    outline: none;
    alignment: center;
    width: 80%;
}
input[type=submit]{
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    height: 24px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 100, 0.25);
    border-radius: 5px;
}
button{

    border: none;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    height: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 100, 0.25);

}
/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #b2b2b2;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 5px;
}